.inner-image :deep(img) {
  max-width: 100% !important;
  height: auto !important;
}
/*убирает подчеркиваение в ссылке*/
.link-no-underline {
  text-decoration: none;
}
/*убирает при вставке браузером смену БГ*/
.input-field :deep(input){
  background-clip: text !important;
  -webkit-background-clip: text !important;
}
.no-border-no-shadow {
  border: none; /* Убираем границу */
  box-shadow: none; /* Убираем тень */
}

.border-shadow{
  border-radius: 10px;
  border: 1px; /* Убираем границу */
  box-shadow: 2px 2px 20px #181f04;
}

.my-bg-color {
  background-color: #f0edce
}