.inner-image :deep(img) {
  max-width: 100% !important;
  height: auto !important;
}
.link-no-underline {
  text-decoration: none;
}
.input-field :deep(input){
  background-clip: text !important;
  -webkit-background-clip: text !important;
}
